doctype html
html
    head
        title Complete service registration
    body
        h1 Register completed
        br
        br
        input(type="label" , id="serviceKey" value='Service key : #{serviceKey}' size=35)

