doctype html
html
    head
      title homePage
    body
        h1 Login with  Telegram Home Page
        p You can register your service.
        p Click on Button and Start :)
        input(type="button",id='startRegistration',value='registration',onclick = 'onClickRegisterBtn()')
     script.
        function onClickRegisterBtn() {
          window.location.href = '/registerForm'

        }