doctype html
html
    head
        title registrationService
    body
        h1 Registration Form
        p Please fill out this fields
        form
            input(id='serviceName',value='')
            br
            br
            input(id='serviceUrl',value='')
            br
            br
            input(type="button",id='registerService',value='Register Service')

    script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
    script.
        document.getElementById("registerService").addEventListener("click", register);

        function register() {
            var serviceName = document.getElementById("serviceName").value;
            var serviceUrl = document.getElementById("serviceUrl").value;
            if (serviceName.length == 0 || serviceUrl.length == 0) {
                alert("please enter Service Name and service url");
            } else {
                // Call register web service
                callRegisterWebService(serviceName, serviceUrl);
            }
        }

        function callRegisterWebService(serviceName, serviceUrl) {
            $.post("http://127.0.0.1:3001/api-v.1/service/register",
                {
                    "serviceName": serviceName, "serviceUrl": serviceUrl
                }, function (data) {
                console.log("yes");
                    if (data.code == 0) {
                        console.log(data);
                        window.location.href = "/complete/" + data.serviceKey;
                    }
                });
        }