doctype html
html
    head
        title loginWithTelegram

    body
        h1 Login with  Telegram
        p You can login with telegram.
        p Click on Button and Start :)
        input(type="button",id='login',value='login with telegram',onclick='login()')

    script.
        function login() {
            //call login api send serviceKey and receive token
            //send token and then redirect to bot
        }
