doctype html
html
    head
        title show user info
    body
        p You login to this site with telegram :)
    div(align="right")
        img(src="#{imageUrl}" width =150 height =150)
        br
        input(type = "label",id = "username" value ='userName : #{userName}' size =30 )
        br
        br
        input(type="label" , id = "firstname" value ='firstName : #{firstName}' size=30)
        br
        br
        input(type="label" , id = "lastname" value ='lastName : #{lastName}' size=30 )


